
<div id="b1">
  <img src="../assets/Leopard-Kampfpanzer.jpg" width="200px">
</div>




<div id="divk1">
  <br>
  <p><button type="button" class="btn btn-outline-info">Name: {{cards[a].titleT}}</button></p>
  <p><button type="button" class="btn btn-outline-info">Anzahl an Panzer: {{cards[a].quantityT}}</button></p>
  <p><button type="button" class="btn btn-outline-info">Höhe: {{cards[a].heightT}}m</button></p>
  <p><button type="button" class="btn btn-outline-info">Länge: {{cards[a].lenghtT}}m</button></p>
  <p><button type="button" class="btn btn-outline-info">Breite: {{cards[a].widthT}}m</button></p>

</div>

<div id="b2">
  <img src="../assets/Leopard-Kampfpanzer.jpg" width="200px">
</div>

<div id="divk2">
  <br>
  <p><button type="button" class="btn btn-outline-info">Name: {{cards[b].titleT}}</button></p>
  <p><button type="button" class="btn btn-outline-info">Anzahl an Panzer: {{cards[b].quantityT}}</button></p>
  <p><button type="button" class="btn btn-outline-info">Höhe: {{cards[b].heightT}}m</button></p>
  <p><button type="button" class="btn btn-outline-info">Länge: {{cards[b].lenghtT}}m</button></p>
  <p><button type="button" class="btn btn-outline-info">Breite: {{cards[b].widthT}}m</button></p>

</div>

<button id="buttton"><a href=" " class="nav-link text-black">Neu mischen</a></button>
